/*  page ë³„
==================================== */
.intro {
  height: 100%;
  overflow: hidden;
  .btn-group {
    margin-bottom: 0;
    margin-top: 42px;
  }

  .absolute-box {
    display: block;
    position: absolute;
    top:0; right: 0;
    width: 100%; height: auto;
    background-color: $white;
    transform: translateX(100%);
    transition: .6s;
  &.on {
    display: block;
    transform: translateX(0);
  }
  }
}

.login {
  .form {
    margin-top: 0;
  }
  .form-utill {
    margin-top: 8px; 
    text-align: center; 
    color: $gray_68;
    font-size: 10px;
  }
}


.joinagree {
  position: relative;
}

.find-email {
  .form-item + .form-item {
    margin-top: 4px;
  }
  .security {
    display: none; 
    .security-group {
      margin-top: 4px;
    }
  }
 
}

