#root {
  background-color: #f5f5f5;
  
  container-name: div-container;
    container-type: inline-size;
  .app {
    height: 100svh;
    margin: 0 auto;
    background-color: #fff;
    > div {   
      height: 100%;
      overflow-y: auto;  
    }
  }
}


.dubuck {
  font: {
    family: $font_kr;
    size: 14px;
    weight: 300;
  }  
    color: $black;
}