
/*  위치 
==================================== */
@mixin position(
  $p: absolute, 
  $t: null, 
  $b: null, 
  $l: null,
  $r: null,
  $index: null
){
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
  z-index: $index;
}

/* grid & flex */
@mixin layout(
  $dis : grid,
  $wrap : null,
  $align_con : null,
  $justify_con : null,
  $align_items : null,
  $justify_items : null,
  $gap: null
){ 
  display: $dis;
  flex-wrap: $wrap;
  align-content: $align_con;
  justify-content: $justify_con;
  align-items: $align_items;
  justify-items: $justify_items;
  gap: $gap;
}


/*  이미지 
==================================== */
@mixin image($url :null, $position: center center, $size : contain) {
  background-image: $url;
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat; 
}
@mixin mask (
  $mask_url:null, 
  $mask_position: center, 
  $mask_size: contain
  ){
  -webkit-mask-image: $mask_url; 
  mask-image: $mask_url; 
  -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: $mask_position; 
  mask-position: $mask_position; 
  -webkit-mask-size: $mask_size; 
  mask-size: $mask_size;
}